<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion De Libros</title>
    <link rel="stylesheet" href="../admin.css/GestionLibros.css">
    <link rel="stylesheet" href="../admin.css/fonts.css">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <ul class="nav__lista">
                <li><a class="lista__item" href="">Gestion De Libros</a></li>
                <li><a class="lista__item" href="../admin.html/RegistrarLibros.html">Registrar Libros</a></li>
                <li><a class="lista__item" href="">Editar Libros</a></li>
                <li><a class="lista__item" href="../admin.html/GestionPrestamos.html">Gestionar Prestamos</a></li>
                <li><a class="lista__item" href="../admin.html/ListaUsuario.html">Lista Usuarios</a></li>
                <li><a class="lista__item item--admin">ADMIN</a></li>
            </ul>
        </nav>
    </header>
    <section class="bienvenida">
        <div class="bienvenida__contenido">
            <h1 class="bienvenida__titulo">Bienvenido,Administrador</h1>
            <p class="bienvenida__texto">Gestiona, registra y edita libros de manera eficiente. Usa el menú de navegación para acceder a las funciones disponibles.</p>
        </div>
    </section>
</body>
</html>