body{
    margin: 0;
    overflow: auto;
    box-sizing: border-box;
}

.header {
    background-color: #48f;
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header__nav {
    max-width: 1100px;  
    margin: 0 auto;
    padding: 0 20px;
}

.nav__lista {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;  
    padding: 0;
    margin: 0;
    gap: 15px;
}

.lista__item {
    text-decoration: none;
    color: #ecf0f1;
    font: 500 17px "Montserrat";
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
    white-space: nowrap; 
}

.lista__item:hover {
    background-color: blue;
    color: #ffffff;
}

.nav__lista li:last-child {
    margin-left: auto; 
    padding-right: 20px;
}


.registro {
    background-color: #ecf0f1;
    padding: 40px;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.registro__titulo {
    text-align: center;
    font: 600 25px "Poppins";
    text-transform: capitalize;
    color: #2c3e50;
    margin-bottom: 20px;
}

.registro__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form__grupo {
    display: flex;
    flex-direction: column;
}

.form__grupo label {
    font: 500 18px "Montserrat";
    color: #34495e;
    margin-bottom: 5px;
}

.form__grupo input,
.form__grupo select,
.form__grupo textarea {
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 16px;
}

.form__grupo textarea {
    height: 100px;
    resize: none;
    field-sizing: content;
}

.form__boton {
    background-color: #2c3e50;
    color: white;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.form__boton:hover {
    background-color: #34495e;
}
